<div class="vertical-centerer">
  <!-- AWTRIX NG: onion-skin is a view toggle, moved out of the animation dock
       into the rail. Bound by PreviewActionsController via its class. -->
  <div
    class="tool-icon awtrix-onion-toggle piskel-icon-onion preview-toggle-onion-skin"
    title="<span class='highlight'>ONION SKIN</span></br>Show the neighbouring frames faintly"
    rel="tooltip"
    data-placement="left"
    data-test-id="onion-skin-toggle-button"
  ></div>

  <div
    data-setting="user"
    class="tool-icon icon-settings-gear-white"
    title="<span class='highlight'>PREFERENCES</span></br>"
    rel="tooltip"
    data-placement="left"
  ></div>

  <div
    data-setting="resize"
    class="tool-icon  icon-settings-resize-white"
    title="<span class='highlight'>RESIZE</span></br>Resize the drawing area"
    rel="tooltip"
    data-placement="left"
  ></div>

  <div
    data-setting="save"
    class="tool-icon  icon-settings-save-white"
    title="<span class='highlight'>AWTRIX</span></br>Save to / open from the clock, live preview"
    rel="tooltip"
    data-placement="left"
  ></div>

  <div
    data-setting="export"
    class="tool-icon  icon-settings-export-white"
    title="<span class='highlight'>EXPORT</span></br>Export as Image, as Spritesheet<br/>or as Animated GIF"
    rel="tooltip"
    data-placement="left"
  ></div>
</div>
